POSTGRES_DB=news_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SERVER_PORT=8080

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/news_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres